.company_container {
    height: 350px;
    align-content: center;
    margin: 0 auto;
    width: 1140px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 80px 0;
}

.company_container p {
    max-width: 1140px;
    padding-bottom: 60px;
    font-size: 20px;
    color: var(--color-secondary);
}

.company_logo {
    display: flex !important;
    align-content: center;
    justify-content: center;
    width: 100%;
}