.hero_wrapper {
    background-color: var(--color-lite_orange);
}

.hero_content {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-content: center;
}

.hero_content h1, p {
    max-width: 450px;
    padding-top: 20px;
}

.hero_wrapper img {
    margin: 0 auto;
}


.hero_content button {
    margin-top: 20px;
}