.hero_container {
    background-color: var(--color-lite_orange);
    padding-top: 80px;
    
}

.hero_wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    align-content: center;
    padding: 40px 0;
}

.hero_content {
    align-content: center;
    margin-top: -50px;

}

.hero_content h1 {
    max-width: 450px;
    padding-top: 20px;
}
.hero_content p {
    max-width: 450px;
    padding-top: 20px;
}

.hero_wrapper img {
    margin: 0 auto;
}


.hero_content button {
    margin-top: 20px;
}

/* Animation */

.hero_banner img {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }