.solution_container {
    background-color: var(--color-lite_bg);
    
}

.solution_wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    align-content: center;
    padding: 40px 0;
    column-gap: 80px;
}

.solution_content {
    align-content: center;

}


.item {
    border-bottom: 1px solid #ddd;
    /* background: black; */
    margin-bottom: 20px;
}

.solution_content h2 {
    max-width: 450px;
    /* padding-top: 20px; */
    font-size: 20px;
    font-weight: 600;
}
.solution_content p {
    max-width: 450px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary_text);
}

.solution_wrapper img {
    margin: 0 auto;
}


.solution_content button {
    margin-top: 20px;
}

.solutions {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}