.tech_container {
    align-content: center;
    margin: 0 auto;
    width: 1140px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 80px 0;
}

.tech_container h2 {
    font-size: 28px;
    font-weight: 600;
}


.tech_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.tech_container p {
    max-width: 700px;
    padding-bottom: 60px;
    padding-top: 10px;
    font-size: 16px;
    color: var(--color-primary_text);
    margin: 0 auto;
    
}