.testimonial_container {
    height: 600px;
    background-color: var(--color-secondary);
    padding: 80px 0;
}

.testimonial_wrapper {
    max-width: 1140px;
    display: flex !important;
    /* flex-direction: column; */
    justify-content: space-between;
    margin: 0 auto;
}
.testimonial_content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0;
    max-width: 500px;
}

.testimonial_content h2{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.testimonial_content p{
    color: #b9b9b9;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

.testimonial_wrapper img {
    object-fit: none;
}



.slick-dots li {
    margin: 5px 0; 
  }
  
  .slick-dots li button:before {
    color: #818181;
    font-size: 10px; 
  }
  
  .slick-dots li.slick-active button:before {
    color: #ff6106; 
  }

  