* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.primary_button {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 0;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}

.secondary_button {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 0;
    border: 1px solid var(--color-secondary);
    background-color: transparent;
    color: var(--color-secondary);
    cursor: pointer;
}

.secondary_button_rounded {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}


