@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    font-family: "Inter", sans-serif;

    --color-primary: #F15A24;
    --color-primary-hover: #000000;
    --color-secondary: #3A3F49;

    --color-lite_orange: #F0EDEC;
    --color-lite_bg: #F6F6F6;

    --color-primary_text: #7F7F7F;
    --color-secondary_text: #ABABAB ;
    
    --color-white: #FFFFFF;
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
}

